<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captura de Imagen con ubicacion</title>
    <script src="/assets/main.js" defer></script>
</head>
<body>
    <h1>Captura tu imagen</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="capture">Capturar</button>
    <div id="message" style="margin-top: 20px; font-size: 1.2em; color: #333;"></div>
    <canvas id="canvas" style="display: none;"></canvas>





</body>
</html>
